@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

$font-header: 'Playfair Display', serif;
$font-article: 'Mulish', sans-serif;
$font-nav: 'Inter', sans-serif;

$c-orange: #fb8f1d;
$c-black: #202336;
$c-gray: #b8becd;
$c-white: #fff;
$c-green: #1abe84;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-article;
    overflow-x: hidden;
}

.nav-bar {
    height: 15vh;
    width: 100%;
    font-family: $font-nav;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__logo {
        flex: 0.45;
        display:flex;
        justify-content: center;
        align-items: center;

        &__outer-circle {
            background: $c-green;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            position: relative;

            &__inner-circle {
                position: absolute;
                background: $c-orange;
                border-radius: 50%;
                height: 16px;
                width: 16px;
                top: 50%;
                left: 50%;
                margin: -8px 0px 0px -8px;
                box-shadow: 0 0 0 3px $c-white;
              }
          }
    }

    &__menu {
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 0.55;

        &__items {
            text-decoration: none;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            &__item {
                color: $c-gray;
                cursor: pointer;
                margin: 0 0.7rem 0 0.7rem;
            }

            &__item--active {
                font-weight: bolder;
                color: $c-black;
            }

            &__item:hover {
                font-weight: bolder;
                color: $c-black;
            }
        }

        &__btn {
            margin: 0 0.5rem 0 0.5rem;
        }

        &__btn:nth-child(2) {
            margin-left: 1rem;
        }
    }
}


.btn {
    width: 132px;
    height: 40px;
    font-size: 1rem;
    color: $c-white;
    background-color: $c-orange;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s color ease-in-out, .3s background-color ease-in-out;
}

.btn--reversed {
    color: $c-orange;
    border: 1px solid $c-orange;
    background-color: $c-white;
}

.btn:hover {
    color: $c-orange;
    background-color: $c-white;
    border: 1px solid $c-orange;
}

.btn--reversed:hover {
    color: $c-white;
    background-color: $c-orange;
    border: none;
}