@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

$font-header: 'Playfair Display', serif;
$font-article: 'Mulish', sans-serif;
$font-nav: 'Inter', sans-serif;

$c-orange: #fb8f1d;
$c-black: #202336;
$c-lightgray: #b8becd;
$c-gray: #7D7987;
$c-white: #fff;
$c-green: #1abe84;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-article;
    overflow-x: hidden;
}

.nav-bar {
    height: 15vh;
    width: 100%;
    font-family: $font-nav;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;

    &__logo {
        flex: 0.45;
        display:flex;
        justify-content: center;
        align-items: center;

        &__outer-circle {
            background: $c-green;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            position: relative;

            &__inner-circle {
                position: absolute;
                background: $c-orange;
                border-radius: 50%;
                height: 16px;
                width: 16px;
                top: 50%;
                left: 50%;
                margin: -8px 0px 0px -8px;
                box-shadow: 0 0 0 3px $c-white;
              }
          }
    }

    &__menu {
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 0.55;

        &__burger {
            font-size: 35px;
            color: #202336;
            cursor: pointer;
            display: flex;
            align-items: center;
            display: none;
        }

        &__items {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            &__item {
                color: $c-lightgray;
                cursor: pointer;
                margin: 0 0.7rem 0 0.7rem;
            }

            &__item--active {
                font-weight: bolder;
                color: $c-black;
            }

            &__item:hover {
                font-weight: bolder;
                color: $c-black;
            }
        }

        &__btn {
            font-size: 1rem;
            margin: 0 0.5rem 0 0.5rem;
        }

        &__btn:nth-child(2) {
            margin-left: 1rem;
        }
    }
}

.hamburger-menu {
    height: 100vh;
    width: 70vw;
    position: fixed;
    left: 100vw;
    top: 0;
    background-color: $c-green;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease-in-out;

    &__BsX-icon {
        position: absolute;
        top: 3.5vh;
        left: 50vw;
        font-size: 3.5rem;
        cursor: pointer;
    }

    &__items {
        margin-bottom: 3rem;

        &__item {
            font-size: 1.5rem;
            margin: 1.5rem;
            cursor: pointer;
        }

        &__item:hover {
            font-weight: bolder;
            color: $c-black;
        }

    }

    &__btn {
        font-size: 1.3rem;
        margin: 0.5rem;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.slide-in {
    transform: translateX(-70vw);
}

.btn {
    width: 132px;
    height: 40px;
    font-size: 1rem;
    font-family: $font-article;
    color: $c-white;
    background-color: $c-orange;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s color ease-in-out, .3s background-color ease-in-out;
}

.btn--reversed {
    color: $c-orange;
    border: 1px solid $c-orange;
    background-color: $c-white;
}

.btn:hover {
    color: $c-orange;
    background-color: $c-white;
    border: 1px solid $c-orange;
}

.btn--reversed:hover {
    color: $c-white;
    background-color: $c-orange;
    border: none;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

header {
    height: 85vh;
    display: flex;
    flex-direction: row;

    .header-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15vh;

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 35%;

            &__main {
                font-family: $font-header;
                font-size: 3.5rem;
                width: 70%;
            }

        }
        &__finder {
            height: fit-content;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__text {
                width: 70%;
                font-family: $font-nav;
                font-size: 1.25rem;
                font-weight: bold;
            }

            &__line {
                width: 70%;
                margin: 0.8rem 0 0.8rem 0;
                background: $c-black;
                height: 0.1rem;
            }

            &__btns {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                width: 70%;

                &__btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border: $c-lightgray 1px solid;
                    border-radius: 8px;
                    margin: 0.6rem;
                    width: 155px;
                    height: 42px;
                    cursor: pointer;

                    &__text {
                        flex: 0.8;
                    }
                }

                &__btn:hover {
                    border-color: $c-black;
                }

                &__btn:nth-child(4) {
                    margin-bottom: 2rem;
                }
            }

        }
    }

    .header-image {
        width: 50%;
        margin-top: 15vh;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.article {
    height: 80vh;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 80%;
            height: 100%
        }
    }

    &__info {
        width: 48%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__header {
            width: 70%;
            font-family: $font-header;
            margin-bottom: 1.5rem;
        }

        &__details {
            font-family: $font-article;
            color: $c-gray;
            line-height: 1.5rem;
            width: 70%;
            margin-bottom: 2rem;
        }
    }
}

.article--reversed {
    flex-direction: row-reverse;
}

.article__info--reversed {
    align-items: flex-end;
}

.destinations {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        height: 10%;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin-bottom: 3rem;

        &__main {
            width: 80%;
            font-family: $font-header;
            font-size: 2.1rem;
            text-align: left;
        }

        &__text {
            width: 20%;
            font-family: $font-nav;
            font-weight: bold;
            text-align: right;
            color: $c-orange;
            cursor: pointer;
        }

        &__text:hover {
            color: $c-green;
        }
    }

    &__items {
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__item {
            height: 100%;
            &__image {
                height: 50%;
                img {
                    border-radius: 8px;
                }
            }

            &__text {
                width: 50%;
                height: 50px;
                background: $c-white;
                font-family: $font-nav;
                line-height: 1.2rem;
                transform: translateY(-100%);
                border-radius: 0 10px 0 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__name {
                    font-size: 1rem;
                    font-weight: bold;
                }

                &__country {
                    font-weight: 100;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.testimonials {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__text {
        height: 60%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5rem;

        &__header {
            font-family: $font-header;
            margin-bottom: 1.5rem;
        }

        img {
            transform: scale(.75);
            margin-bottom: 1.5rem;
        }

        &__quote {
            width: 100%;
            text-align: center;
            font-family: $font-article;
            font-weight: bold;
            line-height: 1.5rem;
            margin-bottom: 1.5rem;
        }

        &__name {
            font-family: $font-nav;
            font-weight: bold;
            font-size: 1.1rem;
            margin-bottom: 0.2rem;
        }

        &__info {
            font-size: 0.9rem;
        }
    }

    &__image {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        img {
            height: 400px;
            width: 400px;
            border-radius: 10px;
        }

        &__btns {
            width: 25%;
            height: 60px;
            transform: translateY(-60px);
            background: $c-white;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 10px 0 0 0;

            &__btn {
                border: 2px solid black;
                border-radius: 50%;
                padding: 4px;
                font-size: 1.8rem;
                cursor: pointer;
            }

            &__btn--inactive {
                border-color: $c-lightgray;
                color: $c-lightgray;
            }

            &__btn--active:hover {
                border: 2px solid $c-green;
                color: $c-green;
            }

        }
    }
}

@media (max-width: 1310px) {
    .destinations {
        &__items {
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}

@media (max-width: 900px) {
    .nav-bar {
        &__menu {
            justify-content: center;

            &__items {
                display: none;
            }
            &__btn {
                display: none;
            }
            &__burger {
                display: flex;
                margin-left: 2rem;
            }
        }
    }
    .hamburger-menu {
        display: flex;
    }

    header {
        .header-info {
            width: 100%;
            &__text {
                &__main {
                    font-size: 3rem;
                }
            }
            &__finder {
                &__btns {
                    &__btn:nth-child(4) {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
        .header-image {
            display: none;
        }
    }

    .article {
        flex-direction: column;

        &__image {
            width: 100%;
            height: 50%;
        }

        &__info {
            width: 100%;
            height: 50%;
            align-items: center;
        }
    }
}

@media (max-width: 450px) {
    header {
        .header-info {
            &__text {
                &__main {
                    font-size: 2.5rem;
                }
            }
        }
    }
    .article {
        flex-direction: column;
        height: 110vh;

        &__image {
            width: 100%;
            height: 50%;
        }

        &__info {
            &__details {
                margin-bottom: 1.5rem;
            }

            &__header {
                font-size: 1.5rem;
            }
        }
    }
    .destinations {
        &__header {
            &__main {
                width: 70%;
                font-size: 1.8rem;
            }
            &__text {
                width: 30%;
                font-size: 0.9rem;
            }
        }
    }
}