@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

$font-header: 'Playfair Display', serif;
$font-article: 'Mulish', sans-serif;
$font-nav: 'Inter', sans-serif;

$c-orange: #fb8f1d;
$c-black: #202336;
$c-gray: #b8becd;
$c-white: #fff;
$c-green: #1abe84;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-article;
    overflow-x: hidden;
}

.nav-bar {
    height: 15vh;
    width: 100%;
    font-family: $font-nav;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__logo {
        flex: 0.45;
        display:flex;
        justify-content: center;
        align-items: center;

        &__outer-circle {
            background: $c-green;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            position: relative;

            &__inner-circle {
                position: absolute;
                background: $c-orange;
                border-radius: 50%;
                height: 16px;
                width: 16px;
                top: 50%;
                left: 50%;
                margin: -8px 0px 0px -8px;
                box-shadow: 0 0 0 3px $c-white;
              }
          }
    }

    &__menu {
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 0.55;

        &__burger {
            font-size: 35px;
            color: #202336;
            cursor: pointer;
            display: flex;
            align-items: center;
            display: none;
        }

        &__items {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            &__item {
                color: $c-gray;
                cursor: pointer;
                margin: 0 0.7rem 0 0.7rem;
            }

            &__item--active {
                font-weight: bolder;
                color: $c-black;
            }

            &__item:hover {
                font-weight: bolder;
                color: $c-black;
            }
        }

        &__btn {
            font-size: 1rem;
            margin: 0 0.5rem 0 0.5rem;
        }

        &__btn:nth-child(2) {
            margin-left: 1rem;
        }
    }
}

.hamburger-menu {
    height: 100vh;
    width: 70vw;
    position: absolute;
    left: 100vw;
    top: 0;
    background-color: $c-green;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease-in-out;

    &__BsX-icon {
        position: absolute;
        top: 3.5vh;
        left: 50vw;
        font-size: 3.5rem;
        cursor: pointer;
    }

    &__items {
        margin-bottom: 3rem;

        &__item {
            font-size: 1.5rem;
            margin: 1.5rem;
            cursor: pointer;
        }

        &__item:hover {
            font-weight: bolder;
            color: $c-black;
        }

    }

    &__btn {
        font-size: 1.3rem;
        margin: 0.5rem;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.slide-in {
    transform: translateX(-70vw);
}

.btn {
    width: 132px;
    height: 40px;
    color: $c-white;
    background-color: $c-orange;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s color ease-in-out, .3s background-color ease-in-out;
}

.btn--reversed {
    color: $c-orange;
    border: 1px solid $c-orange;
    background-color: $c-white;
}

.btn:hover {
    color: $c-orange;
    background-color: $c-white;
    border: 1px solid $c-orange;
}

.btn--reversed:hover {
    color: $c-white;
    background-color: $c-orange;
    border: none;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

header {
    height: 85vh;
    display: flex;
    flex-direction: row;

    .header-info {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-image {
        width: 60%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 900px) {
    .nav-bar {
        &__menu {
            justify-content: center;

            &__items {
                display: none;
            }
            &__btn {
                display: none;
            }
            &__burger {
                display: flex;
                margin-left: 2rem;
            }
        }
    }
    .hamburger-menu {
        display: flex;
    }
}